@font-face {
  font-family: Avenir Next;
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf"),
    url("../../assets/fonts/alt-files/AvenirNextLTPro.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Avenir Next;
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf"),
    url("../../assets/fonts/alt-files/AvenirNextLTProDemi.ttf");
  font-weight: 600;
}
